//registry.npmjs.org/:_authToken=$NPM_TOKEN
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//registry.npmjs.org/:_authToken={NPM_TOKEN}
//registry.npmjs.org/:_authToken={}
//registry.npmjs.org/:_authToken=

//registry.npmjs.org/:_authToken=6c141bb5-5b6d-1311-98dc-hardcoded
//localhost:4873/:_authToken=U2t5c2Nhbm5lciB3MDAwhardcoded
//artifactory.jfrog.com/artifactory/api/npm/npm/:_authToken=eyFake1.eyJFake2.Fake3.hardcoded